<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ictitan.union"
    android:versionCode="1"
    android:versionName="xm1904181430" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.ictitan.union.IctitanUnionApplication"
        android:allowBackup="true"
        android:launchMode="singleTop"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <activity
            android:name="mo.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.ictitan.union.view.HelpActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">

        </activity>

        <meta-data android:name="ICTITAN_UNION_APP_ID" android:value="53001" />
        <meta-data android:name="ICTITAN_UNION_CHANNEL_ID" android:value="19001" />
        <meta-data android:name="ICTITAN_UNION_INIT_URL" android:value="https://mlbb.api.usdk.ictitan.com/invoke/appConfig" />

    </application>


</manifest>
